root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{*.go,Makefile,.gitmodules,go.mod,go.sum}]
indent_style = tab
end_of_line = crlf

[*.{js,jsx,ts,tsx,css,less,sass,scss,vue,py}]
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.md]
indent_style = tab
trim_trailing_whitespace = false
